# App
PORT=3001

# Database and Redis configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/urlshortener
REDIS_URL=redis://localhost:6379

# JWT configuration
JWT_SECRET=change-me-in-production

# Mockpass configuration
MOCKPASS_ISSUER=http://localhost:5156/singpass/v2
MOCKPASS_CLIENT_ID=my-client-id
MOCKPASS_CLIENT_SECRET=my-client-secret
MOCKPASS_REDIRECT_URI=http://localhost:3001/api/v1/auth/callback
